<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.appcelerator.titanium.mobile.ui.ios.installer.launchConfigurationType">
<booleanAttribute key="ATTR_MINIFY" value="true"/>
<stringAttribute key="ATTR_PROJECT_NAME" value="Week4Project"/>
<stringAttribute key="ATTR_TITANIUM_DEPLOY_TYPE" value="development"/>
<booleanAttribute key="ATTR_UPLOAD_DEBUG_SYMBOLS" value="false"/>
<stringAttribute key="appid" value="edu.fullsail.Week4Project"/>
<stringAttribute key="certificate" value="Jennifer McCarrick (5TMP78RMGA)"/>
<stringAttribute key="debug_config" value="::1440918038419:192.168.56.1,192.168.1.7"/>
<stringAttribute key="debug_hosts" value="192.168.56.1,192.168.1.7"/>
<stringAttribute key="device_id" value="7ed9d992b26e0010d4bee7686ba6b7e30224852b"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Week4Project"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
<booleanAttribute key="org.eclipse.debug.core.capture_output" value="true"/>
<booleanAttribute key="org.eclipse.debug.ui.ATTR_LAUNCH_IN_BACKGROUND" value="true"/>
<stringAttribute key="process_factory_id" value="com.appcelerator.titanium.ui.logLevelFilteringProcessFactory"/>
<stringAttribute key="sdk_version" value="8.4"/>
<stringAttribute key="uuid" value="48959ba9-db41-4aa1-9af9-2bae13d19506"/>
</launchConfiguration>
